.post-list {
      max-width: 600px;
    margin: 2em auto 0;
}

.post-item {
    margin: 8px 0;
    border-bottom: 1px dotted #888;
    padding-bottom: 4px;
    color: #555;
}

.post-item a { margin-right: 0.5em; }
