<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/code_highlight.css" />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <main class="container">
        <header>
            <hgroup>
                <h1><a href="/" class="site-title">{{ site_title }}</a></h1>
                <p>{{ site_subtitle }}</p>
            </hgroup>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="separator" aria-hidden="true">|</li>
                    {% for name, url in socials.items() %}
                    <li><a href="{{ url }}" target="_blank">{{ name }}</a></li>
                    {% if not loop.last %}<li class="separator" aria-hidden="true">-</li>{% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <small>&copy; {{ year }} {{ site_title }}</small>
        </footer>
    </main>
</body>
</html>
